:root {
  --bg-main: #0d0f14;
  --bg-card: #161a22;
  --bg-elevated: #1e2330;

  --text-main: #e6e6e6;
  --text-muted: #9aa0b3;

  --accent: #8b5cf6;        /* roxo paranormal */
  --accent-hover: #a78bfa;

  --border-subtle: #2a2f3e;
}

strong {
  color: var(--text-muted);
  font-weight: 500;
}

h4 {
  color: var(--accent);
}


body {
  background-color: var(--bg-main);
  color: var(--text-main);
}

.navbar-brand {
  color: var(--accent) !important;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Cards */
.card {
  background-color: var(--bg-card);
  border: 1px solid var(--border-subtle);
  color: var(--text-main);
}

.card-header {
  background-color: var(--bg-elevated);
  border-bottom: 1px solid var(--border-subtle);
  font-weight: 600;
}

/* Tabs */
.nav-tabs {
  border-bottom: 1px solid var(--border-subtle);
}

.nav-tabs .nav-link {
  color: var(--text-muted);
  border: none;
}

.nav-tabs .nav-link.active {
  color: var(--accent);
  background-color: transparent;
  border-bottom: 2px solid var(--accent);
}

/* Tables */
.table {
  color: var(--text-main);
}

.table thead th {
  background-color: var(--bg-elevated);
  border-color: var(--border-subtle);
}

.table td,
.table th {
  border-color: var(--border-subtle);
}

.dark-table {
  background-color: #161a22;
  color: #e6e6e6;
}

.dark-table thead th {
  background-color: #1e2330 !important;
  color: #9aa0b3;
  border-bottom: 1px solid #2a2f3e;
}

.dark-table tbody {
  background-color: #161a22 !important;
}

.dark-table tbody tr {
  background-color: #161a22 !important;
  border-bottom: 1px solid #2a2f3e;
}

.dark-table tbody tr:hover {
  background-color: #1e2330 !important;
}

.dark-table td,
.dark-table th {
  padding: 0.45rem 0.5rem;
  border: none;
}

.dark-table td:last-child {
  text-align: center;
  font-weight: 700;
  color: #8b5cf6;
}


/* NavBar */
.navbar {
  background-color: #0b0d12 !important;
  border-bottom: 1px solid var(--border-subtle);
}

/* Form */
.form-select {
  background-color: var(--bg-card);
  color: var(--text-main);
  border: 1px solid var(--border-subtle);
}

.form-select:focus {
  border-color: var(--accent);
  box-shadow: none;
}
